@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&family=Raleway:wght@300;400;700&display=swap');

body {
    background-color: #1E2022;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 16px;
}

main {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.destiny-logo {
    margin-bottom: 30px;
    width: 250px;
    height: 250px;
    opacity: 1;
    transition: 0.4s;
}

.destiny-logo:hover {
    opacity: 0.8;
    transition: 0.4s;
}

.destiny-logo img {
    width: 100%;
    border-radius: 50%;
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform 2s;
    box-shadow: -6px 8px 23px -5px rgba(0,0,0,0.1);
    -webkit-tap-highlight-color: transparent;
}

.destiny-logo img:hover {
    transform: rotate(360deg);
    transition: transform 1s;
}

.destiny-info {
    margin-bottom: 15px;
}

.destiny-info h1 {
    color: #C9D6DF;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 15px;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

.destiny-info p {
    color: #F0F5F9;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    line-height: 24px;
}

.destiny-discord-invite {
    display: flex;
    justify-content: center;
    align-items: center;
}

.destiny-discord-invite img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.destiny-discord-invite a {
    transition: 200ms;
}

.destiny-discord-invite a:hover {
    opacity: 0.7;
}

@media all and (max-width: 768px) {
    main {
        padding: 40px;
    }

    .destiny-logo {
        width: 200px;
        height: 200px;
    }
}